{
  "token": "SECRET",
  "channel": "CHANNELID",
  "time": 10,
  "options": {
    "sushi": { "name": "Sushi", "number": "555 5555" },
    "ramen": { "name": "Ramen", "number": "666" },
    "hamburger": { "name": "Burgers", "number": "NaN" },
    "rice": { "name": "Rice" }
  }
}
